:root {
    --primary-color: #1d9bf0;
    --dark-primary-color: #1a8cd8;
    --secondary-color: #000;
    --grey-color: #f7f9f9ec;
    --dark-grey: #e7e7e8;
    --light-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--light-color);
}

.container {
    width: 1400px;
    margin: 0 auto;
    height: 200vh;
}

/*************************************************/
/************* Sidebar Left **************/
/*************************************************/

.sidebar-left {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 15px 20px 20px 30px;
    float: left;
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.logo-container {

    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 35px;
    transition: all 0.3s;
    position: relative;
    left: 17px;
}

.notification {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: var(--primary-color);
    position: relative;
    bottom: -5px;
    right: -195px;
}

.sidebar-header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-menu {
    list-style: none;
    font-size: 20px;
    font-weight: 100;
}

.sidebar-menu li {
    width: 100%;
}

.icon-menu {
    width: 25px;
    margin-right: 15px;
    position: relative;
    bottom: 0px;
}

.link-menu {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    width: auto;
    display: inline-flex;
    margin: 10px 0 0 0;
    align-items: center;
    transition: all 0.3s;
}

.link-menu:hover {
    background-color: var(--dark-grey);
    border-radius: 1000px;
}

.sidebar-menu li a.active { font-weight: 700; }

.btn-tw {
    width: 100%;
    margin-top: 20px;
    padding: 18px 0 18px 0;
    border-radius: 1000px;
    color: #fff;
    background-color: var(--primary-color);
    border: 0;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-tw:hover {
    background-color: var(--dark-primary-color);
}

.show-s {
    display: none;
}

.sidebar-footer {
    width: 100%;
    padding: 15px 0 0 0;
}

.sidebar-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.2s;
}

.sidebar-profile:hover {
    background-color: var(--dark-grey);
    border-radius: 1000px;
    cursor: pointer;
}

.user-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.name-profile {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.name-profile a {
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.name-profile span {
    color: #8b8b8b;
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/*************************************************/
/************* Main Content **************/
/*************************************************/

.main-content {
    width: 50%;
    display: table;
    float: left;
    height: 100%;
    border-right: 1px solid #efefefec;
    border-left: 1px solid #efefefec;
}

.main-header {
    background-color: var(--light-color);
    border-bottom: 1px solid #efefefec;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-header-xs {
    display: none;
}

.nav-title {
    width: 100%;
    font-size: 19px;
    padding: 15px 20px;
}

.container-tabs {
    display: flex;
    flex-direction: row;
}

.nav-tab {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

.tabs-link {
    width: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px 0 20px 0;
    font-weight: 600;
    font-size: 17px;
    color: #393939;
    transition: all 0.2s;
}

.nav-tab:hover {
    cursor: pointer;
    background-color: var(--dark-grey);
}

.border {
    background-color: var(--primary-color);
    height: 4px;
    width: auto;
    border-radius: 4px;
    position: relative;
    top: 20px;
}

.write-tw {
    display: flex;
    width: 100%;
    justify-content: start;
    padding: 10px 15px 5px 15px;
    border-bottom: 1px solid #efefefec;
}

.write-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textarea-tw {
    width: 100%;
    height: 60px;
    resize: none;
    outline: none;
    position: relative;
    margin-bottom: 10px;
    top: 10px;
    border: 0;
    border-bottom: 1px solid #efefefec;
}

.textarea-tw::placeholder {
    font-size: 20px;
}

.btn-write-container {
    width: 100%;
    display: flex;
    padding: 10px 10px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.btn-options {
    display: flex;
}

.icon-write-options {
    width: 20px;
    fill: var(--primary-color);
    transition: all 0.3s;
}

.icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px;
    margin-right: 3px;
    border-radius: 50%;
    transition: all 0.2s;
}

.icon-link:hover {
    background-color: #e8f5fd;
    border-radius: 50%;
}

.btn-write {
    padding: 10px 20px;
    border-radius: 1000px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s;
}

.btn-write:hover {
    background-color: var(--dark-primary-color);;
}

.tw-content {
    width: 100%;
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #efefefec;
}

.tw-content:hover {
    background-color: var(--grey-color);
    cursor: pointer;
}

.tweet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-tweet {
    display: flex;
    position: relative;
    font-size: 15px;
}

.name-tweet {
    position: relative;
    top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.name-tweet a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: center;
}

.user-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    margin-right: 5px;
}

.user-link:hover {
    text-decoration: underline;
}

.username-tw {
    color: #787878;
    margin-right: 5px;
}

.hour-tw {
    color: #787878;
    margin-left: 5px;
}

.hour-tw:hover {
    text-decoration: underline;
}

.tweet-options {
    border-radius: 50%;
    padding: 5px;
    display: flex;
    transition: all 0.2s;
    cursor: pointer;
}

.tweet-options:hover {
    background-color: #e8f5fd;
    cursor: pointer;
    fill: var(--primary-color);
}

.tw-text {
    padding: 0 15px 0 0;
    margin-left: 55px;
    max-width: 100%;
    word-break: break-all;
    font-size: 14px;
    position: relative;
    top: -5px;
    z-index: 0;
}

.tw-text img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.icons-tw {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icons-tw a {
    text-decoration: none;
    color: #7e7e7e;
}

.icon-comment,
.icon-retweet,
.icon-like,
.icon-views {
    display: flex;
    padding: 5px;
    border-radius: 1000px;
    transition: all 0.2s;
    align-items: center;
}

.icon-share {
    display: flex;
    padding: 5px;
    border-radius: 1000px;
    transition: all 0.2s;
    align-items: center;
}

.svg-comment, 
.svg-retweet,
.svg-like,
.svg-views {
    width: 20px;
    fill: #7e7e7e;
    margin-right: 10px;
}

.svg-share {
    width: 20px;
    fill: #7e7e7e;
}

.icon-comment:hover, .icon-views:hover {
    color: var(--primary-color);
    background-color: #e1eef6;
}

.icon-comment:hover .svg-comment, .icon-views:hover .svg-views { fill: var(--primary-color); }

.icon-retweet:hover {
    color: #00ba7c; 
    background-color: #def1eb;
}

.icon-retweet:hover .svg-retweet { fill: #00ba7c; }

.icon-like:hover {
    color: #f92587;
    background-color: #f7e0eb;
}   

.icon-like:hover .svg-like { fill: #f92587; }

.icon-share:hover {
    color: var(--primary-color);
    background-color: #e1eef6;
}   

.icon-share:hover .svg-share { fill: var(--primary-color); }

.icon-verified {
    width: 20px;
    fill: var(--primary-color);
    position: relative;
    margin-right: 5px;
}

.mention {
    color: var(--primary-color);
}

.mention:hover {
    text-decoration: underline;
    cursor: pointer;
}

/**********************************************/
/* Sidebar Right */
/**********************************************/

.sidebar-right {
    background-color: var(--light-color);
    height: 100vh;
    max-height: 100vh;
    float: left;
    position: sticky;
    top: -30vh;
    width: 30%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.search-box {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: var(--light-color);
    padding: 5px 0 5px 0;
}

.search-tw {
    background-color: var(--grey-color);
    padding: 10px 20px;
    border-radius: 1000px;
    align-items: center;
    height: 45px;
    display: flex;
    font-size: 20px;
}

.search-tw input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: none;
}

.search-tw input::placeholder {
    font-size: 15px;
}

.icon-search {
    width: 20px;
    color: #566774;
    margin-right: 10px;
}

.widget {
    width: 100%;
    background-color: var(--grey-color);
    margin-top: 20px;
    padding: 15px 0 0 0;
    border-radius: 15px;
}

.title-widget {
    font-size: 21px;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
}

.widget p {
    font-weight: 600;
    font-size: 15px;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
}

.icon-options {
    width: 20px;
}

.btn-dark-tw {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 1000px;
    border: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.trending-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    transition: all 0.3s;
}

.trending-topic:hover {
    background-color: var(--dark-grey);
    cursor: pointer;
}

.trending-title {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.trending-title small {
    color: #787878;
}

.show-more {
    width: 100%;
    padding: 15px;
    transition: all 0.3s;
}

.show-more:hover {
    background-color: var(--dark-grey);
    border-radius: 0 0 15px 15px;
    cursor: pointer;
}

.show-more a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
}

.btn-dark-follow {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 8px 20px;
    border-radius: 1000px;
    border: 0;
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.sidebar-account {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s;
    margin-bottom: 10px;
}

.sidebar-account:hover {
    background-color: var(--dark-grey);
}

.is-follow {
    font-size: 11px;
    background-color: var(--dark-grey);
    padding: 2px;
    border-radius: 4px;
    color: #000;
}

.links-footer {
    margin-top: 20px;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.5;
}

/*******************************
    Media Queries 
*******************************/

@media only screen and (max-width: 600px) {

    .container {
        width: 100%;
    }

    .main-header-xs {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 20px 0 0 0;
        margin-bottom: 20px;
    }

    .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: auto;
        padding: 8px;
        margin-top: 3px;
        margin-left: 7px;
        transition: all 0.2s;
    }

    .notification {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: var(--primary-color);
        position: absolute;
        top: 10px;
        right: 5px;
    }

    .user-avatar:hover {
        background-color: var(--dark-grey);
        border-radius: 1000px;
    }

    .img-user {
        margin: 0 auto;
    }

    .img-profile {
        width: 50px;
        height: 50px;
    }

    .logo {
        left: 0;
        width: 25px;
        margin: 0 auto;
    }

    .sidebar-left {
        display: none;
    }

    .hidden-xs {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .main-header {
        position: sticky;
        top: -65px;
    }

    .border {
        top: 15px;
    }

    .sidebar-right {
        display: none;
    }

    .tabs-link {
        font-size: 15px;
        font-weight: 700;
        padding: 15px 0;
    }

    .btn-tw {
        position: fixed;
        bottom: 90px;
        right: 20px;
        padding: 15px;
        width: 75px;
        border: var(--dark-primary-color);
        display: flex;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        justify-content: center;
        z-index: 1;
    }

    .btn-tw svg {
        width: 40px;
        fill: var(--light-color);
    }

    .navbar-xs {
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: var(--light-color);
        border-top: 1px solid var(--dark-grey);
        width: 100%;
        height: 8vh;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
    }

    .icon-menu {
        width: 25px;
        margin-right: 0;
    }

    .link-menu {
        padding: 10px 20px;
        width: auto;
        display: inline-flex;
        margin: 0;
        align-items: center;
        transition: all 0.3s;
    }

    .user-link {
        font-size: 15px;
    }

    .username-tw {
        width: 50%;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon-verified {
        width: 25px;
    }

    .tw-text {
        font-size: 20px;
    }

    .svg-comment, 
    .svg-retweet,
    .svg-like,
    .svg-views,
    .svg-share {
        width: 17px;
    }

    .icons-tw span {
        font-size: 14px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1180px){
    
    .container {
        margin: 0;
        width: 100vw;
    }

    .logo-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 35px;
        left: 0;
    }

    .notification {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: var(--primary-color);
        position: relative;
        bottom: -3px;
        right: -42px;
    }

    .sidebar-left {
        width: 12vw;
        padding: 20px;
        position: sticky;
        top: 0;
    }

    .icon-menu {
        width: 25px;
        position: relative;
        bottom: 0;
        margin-right: 0;
    }

    .sidebar-menu li {
        width: auto;
    }

    .sidebar-menu li a {
        text-decoration: none;
        color: #000;
        padding: 10px;
        margin: 10px 0 0 0;
        transition: all 0.3s;
    }
    
    .sidebar-menu a:hover {
        background-color: var(--dark-grey);
        border-radius: 1000px;
    }

    .sidebar-header {
        height: 100%;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-footer {
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-profile {
        width: auto;
        display: flex;
        align-items: center;
        padding: 10px 0;
        transition: all 0.3s;
    }

    .img-profile {
        width: 40px;
        margin-right: 0;
    }

    .hidden-s {
        display: none;
    }

    .show-s {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .show-s svg {
        fill: #fff;
        width: 25px;
    }

    .btn-tw {
        margin-top: 20px;
        width: 50%;
        padding: 15px;
        border-radius: 1000px;
        color: #fff;
        background-color: var(--primary-color);
        border: 0;
        cursor: pointer;
        transition: all 0.3s;
    }

    .main-content {
        width: 88vw;
    }

    .textarea-tw {
        margin-right: 15px;
    }

    .sidebar-right {
        display: none;
    }

}

@media only screen and (min-width: 1180px){

    .hidden-m {
        display: none;
    }
}